@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,700&display=swap');


body {
    margin: 0;
    min-height: 100vh;
    background-color: #1c1e21;
    color: #ffff;
    font-family: Open Sans, Arial;
    font-weight: 700;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.container {
    width: auto;
    max-width: 900px;
    margin: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.007);
    box-shadow: 0 10px 10px 10px rgba(0, 0 , 0 , 0.2);
    display: flex;
    justify-content: center; /* Horizontally align center */
    align-items: center; /* Vertically align center */
  }


  p {
    font-family: Roboto, sans-serif;
    width: auto;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  h1 {
    position: absolute;
    display: block;
    justify-content: center; /* Horizontally align center */
    align-items: center; /* Vertically align center */  
    font-size: 53px;
    margin-bottom: 240px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #timersss{
    color: red;
    font-size: 30px;
  }

  #timer, #timers, #timerss {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
  }

  .containers {
    width: auto;
    max-width: 900px;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.192);
    box-shadow: 0 10px 10px 10px rgba(0, 0 , 0 , 0.2);
    display: flex;
    justify-content: center; /* Horizontally align center */
    align-items: center; /* Vertically align center */
  }

